<div class="page-wrapper">

  <!-- HERO -->
  <section class="hero">
    <div class="overlay">
      <div class="hero-content">
        <h1>הגשת שיעורי בית</h1>
        <p>
          מערכת חכמה, פשוטה ונעימה להגשת עבודות בצורה מסודרת וברורה.
        </p>
      </div>
    </div>
  </section>

  <!-- תוכן -->
  <div class="content-wrapper">

    <!-- הסבר -->
    <section class="card">
      <p>
        האתר נבנה מתוך צורך אמיתי שעלה מהשטח – ליצור דרך ברורה ופשוטה להגשת שיעורי בית, שתהיה הרבה יותר קלה ונוחה.
      </p>
      <p>
        הכל מרוכז במקום אחד, בצורה מסודרת ונעימה לעין, כדי לאפשר חוויית שימוש קלה ונוחה. מקוה שתהנו ויהיה לכן לתועלת .
      </p>

    </section>

    <!-- הנחיות -->
    <section class="card">
      <h3>הנחיות להגשה</h3>
      <ul>
        <li>יש לשלוח את שיעורי הבית יום לפני השיעור.</li>
        <li>יש לציין שם פרטי + שם משפחה.</li>
        <li>יש לוודא שהקובץ ברור וקריא.</li>
        <li>ניתן לצרף הודעה למורה.</li>
      </ul>
    </section>

    <!-- טופס -->
    <section class="card">
      <form [formGroup]="homeworkForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

        <div class="form-grid">
          <input type="text" formControlName="FirstName" placeholder="שם פרטי + משפחה" />
          <input type="text" formControlName="Seminar" placeholder="שם הסמינר" />
          <input type="text" formControlName="ClassName" placeholder="כיתה" />
          <input type="text" formControlName="Subject" placeholder="מקצוע" />
          <input type="number" formControlName="LessonNumber" placeholder="מספר שיעור" />
        </div>

        <textarea formControlName="Message" placeholder="הודעה למורה (לא חובה)"></textarea>


        <label class="file-upload">
                העלאת קובץ

                <span class="file-upload" class="file-name">{{ selectedFileName }}</span>
                <input type="file" (change)="onFileSelected($event)" hidden/>
    </label>

        <button onsubmit="onSubmit()" type="submit" [disabled]="homeworkForm.invalid">
          שלח עכשיו 🚀
        </button>

      </form>

      <p *ngIf="successMessage" class="success">
        {{ successMessage }}
      </p>
    </section>

  </div>

  <!-- FOOTER -->
  <footer class="footer">
    © כל הזכויות שמורות | מערכת הגשת שיעורי בית | רחלי כהן 0527648175
  </footer>

</div>